<header class="header header--hero">
    <nav class="header__nav">
        <ul class="header__menu" style="position: relative;">
            <li class="header__item header__item--logo"><a class="header__link" routerLink="/"><img ngSrc="/logo.png" width="320" height="71" priority></a></li>
            <li class="header__item header__item--link"><a class="header__link" routerLink="Products">所有商品</a> </li>
            <li class="header__item header__item--link"><a class="header__link" routerLink="Products">主題分類</a></li>
            <li class="header__item header__item--link"><a class="header__link" routerLink="FreshFlower">鮮花</a></li>
            <li class="header__item header__item--link"><a class="header__link" routerLink="Products">永生花</a></li>
            <li class="header__item header__item--link"><a class="header__link" routerLink="Products">品牌理念</a></li>
            <li class="header__item header__item--icon"><span class="iconfiy fe--search"></span> </li>
            <li class="header__item header__item--icon"> <span class="iconfiy uiw--user"></span> </li>
            <li class="header__item header__item--icon"><span class="iconfiy emojione-monotone--shopping-cart"></span> </li>


        </ul>
    </nav>
</header>