.main {
    width: 100%;
    padding: 100px 0;
    background-color: #FCF7EC;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.main__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}

.main__block {
    display: inline-block;
    height: fit-content;
    border-radius: 30px;

    padding: 32px 128px;
    box-sizing: border-box;
    z-index: 2;
}

.main__block--valentine {
    transform: translate(-20%, 20%);
    background-color: rgba(255, 217, 220, 0.45);
}

.main__img {
    width: 1200px;
    height: auto;
    border-radius: 32px;
}

.main__img--valentine {
    transform: translateX(20%);
}

.main__img--graduation {
    transform: translateX(-20%);
}

.main__block--graduation {
    transform: translate(20%, 20%);
    background-color: rgba(254, 247, 212, 0.59);
}

.main__block--wedding {
    transform: translate(-20%, 20%);
    background-color: rgba(255, 255, 255, 0.50);

}

.main__img--wedding {
    transform: translateX(20%);
}

.main__title {
    font-size: var(--fs-title);
    font-family: Carattere;
    font-weight: normal;
    color: #464646;
    text-shadow: 4px 4px 4px #FFF;

}