<main class="main">
    <section class="main__link">
        <img class="main__img main__img--valentine" ngSrc="/home/main/valentine.jpg" width="900" height="430"
            alt="Valentine" priority>
        <div class="main__block main__block--valentine">
            <h2 class="main__title">Valentine</h2>
        </div>

    </section>
    <section class="main__link">
        <div class="main__block main__block--graduation">
            <h2 class="main__title">Graduation</h2>
        </div>
        <img class="main__img main__img--graduation" ngSrc="/home/main/graduation.jpg" width="900" height="430"
            alt="Graduation" priority>
    </section>
    <section class="main__link">
        <img class="main__img main__img--wedding" ngSrc="/home/main/wedding.jpg" width="900" height="430"
            alt="Wedding" >
        <div class="main__block main__block--wedding">
            <h2 class="main__title">Wedding</h2>
        </div>
    </section>
</main>