<swiper-container class="swiper">
    <swiper-slide class="swiper__slide">
        <img class="swiper__img" ngSrc="/products/swiper/banner-01.jpg" width="1440" height="600" alt=""
            priority>
    </swiper-slide>
    <swiper-slide class="swiper__slide">
        <img class="swiper__img" ngSrc="/products/swiper/banner-02.jpg" width="1440" height="600" alt=""
            priority>
    </swiper-slide>
    <swiper-slide class="swiper__slide">
        <img class="swiper__img" ngSrc="/products/swiper/banner-03.jpg" width="1440" height="600" alt="">
    </swiper-slide>
</swiper-container>