<main class="main">
    <section class="main__type main__type--gift">
        <header class="main__header">
            <h2 class="main__title">鮮花花禮</h2>
            <button class="main__btn">More > </button>
        </header>

        <div class="main__list">
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/fresh-flower-01.jpg" width="850" height="850"
                        alt="春日繽紛鬱金香花藍">
                </div>
                <h3 class="product-card__name">春日繽紛鬱金香花藍</h3>
                <h4 class="product-card__price">$ 2,880</h4>
            </a>
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/fresh-flower-02.jpg" width="850" height="850"
                        alt="春意盎然綜合花籃">
                </div>
                <h3 class="product-card__name">春意盎然綜合花籃</h3>
                <h4 class="product-card__price">$ 2,320</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/fresh-flower-03.jpg" width="850" height="850"
                        alt="純淨白色系花束">
                </div>
                <h3 class="product-card__name">純淨白色系花束</h3>
                <h4 class="product-card__price">$ 2,500</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/fresh-flower-04.jpg" width="850" height="850"
                        alt="單朵向日葵花束">
                </div>
                <h3 class="product-card__name">單朵向日葵花束</h3>
                <h4 class="product-card__price">$ 1,620</h4>
            </a>
        </div>

    </section>
    <section class="main__type">
        <header class="main__header">
            <h2 class="main__title">永生花禮</h2>
            <button class="main__btn">More > </button>
        </header>

        <div class="main__list">
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/preserved-flower-01.jpg" width="850" height="850"
                        alt="永生玫瑰方形盆花">
                </div>
                <h3 class="product-card__name">永生玫瑰方形盆花</h3>
                <h4 class="product-card__price">$ 880</h4>
            </a>
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/preserved-flower-02.jpg" width="850" height="850"
                        alt="永生玫瑰花園小星球">
                </div>
                <h3 class="product-card__name">永生玫瑰花園小星球</h3>
                <h4 class="product-card__price">$ 1,050</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/preserved-flower-03.jpg" width="850" height="850"
                        alt="奶茶白金色永生長形盆花">
                </div>
                <h3 class="product-card__name">奶茶白金色永生長形盆花</h3>
                <h4 class="product-card__price">$ 4,980</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/preserved-flower-04.jpg" width="850" height="850"
                        alt="奢華白金色系永生玫瑰盆花">
                </div>
                <h3 class="product-card__name">奢華白金色系永生玫瑰盆花</h3>
                <h4 class="product-card__price">$ 5,280</h4>
            </a>
        </div>
    </section>
    <section class="main__type">
        <header class="main__header">
            <h2 class="main__title">情人節花禮</h2>
            <button class="main__btn">More > </button>
        </header>

        <div class="main__list">
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/valentine-flower-01.jpg" width="850" height="850"
                        alt="三朵蘋果玫瑰花束">
                </div>
                <h3 class="product-card__name">三朵蘋果玫瑰花束</h3>
                <h4 class="product-card__price">$ 1,000</h4>
            </a>
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/valentine-flower-02.jpg" width="850" height="850"
                        alt="夢幻卡布奇諾玫瑰花束">
                </div>
                <h3 class="product-card__name">夢幻卡布奇諾玫瑰花束</h3>
                <h4 class="product-card__price">$ 2,300</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/valentine-flower-03.jpg" width="850" height="850"
                        alt="繽紛夏日鬱金香花束">
                </div>
                <h3 class="product-card__name">繽紛夏日鬱金香花束</h3>
                <h4 class="product-card__price">$ 1,650</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/valentine-flower-04.jpg" width="850" height="850"
                        alt="輕檸太陽花束">
                </div>
                <h3 class="product-card__name">輕檸太陽花束</h3>
                <h4 class="product-card__price">$ 1,200</h4>
            </a>
        </div>
    </section>
    <section class="main__type">
        <header class="main__header">
            <h2 class="main__title">畢業花禮</h2>
            <button class="main__btn">More > </button>
        </header>

        <div class="main__list">
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/graduation-flower-01.jpg" width="850" height="850"
                        alt="泰迪小熊永生花束">
                </div>
                <h3 class="product-card__name">泰迪小熊永生花束</h3>
                <h4 class="product-card__price">$ 780</h4>
            </a>
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/graduation-flower-02.jpg" width="850" height="850"
                        alt="永生非洲菊花束">
                </div>
                <h3 class="product-card__name">永生非洲菊花束</h3>
                <h4 class="product-card__price">$ 1,780</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/graduation-flower-03.jpg" width="850" height="850"
                        alt="香檳玫瑰向日葵花束">
                </div>
                <h3 class="product-card__name">香檳玫瑰向日葵花束</h3>
                <h4 class="product-card__price">$ 2,080</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/graduation-flower-04.jpg" width="850" height="850"
                        alt="畢業微笑花束">
                </div>
                <h3 class="product-card__name">畢業微笑花束</h3>
                <h4 class="product-card__price">$ 1580</h4>
            </a>
        </div>
    </section>
    <section class="main__type">
        <header class="main__header">
            <h2 class="main__title">婚禮花禮</h2>
            <button class="main__btn">More > </button>
        </header>

        <div class="main__list">
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/wedding-flower-01.jpg" width="850" height="850"
                        alt="氣質白色系">
                </div>
                <h3 class="product-card__name">韓式小捧花-氣質白色系</h3>
                <h4 class="product-card__price">$ 3,000</h4>
            </a>
            <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/wedding-flower-02.jpg" width="850" height="850"
                        alt="春日繽紛色系">
                </div>
                <h3 class="product-card__name">韓式捧花-春日繽紛色系</h3>
                <h4 class="product-card__price">$ 4,800</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/wedding-flower-03.jpg" width="850" height="850"
                        alt="奶茶金永生捧花32公分">
                </div>
                <h3 class="product-card__name">奶茶金永生捧花32公分</h3>
                <h4 class="product-card__price">$ 4,000</h4>
            </a> <a class="product-card" href="#">
                <div class="product-card__block">
                    <img class="product-card__img" ngSrc="/products/main/wedding-flower-04.jpg" width="850" height="850"
                        alt="霧藍白金色系永生捧花32公分">
                </div>
                <h3 class="product-card__name">霧藍白金色系永生捧花32公分</h3>
                <h4 class="product-card__price">$ 4,000</h4>
            </a>
        </div>
    </section>
</main>