<footer class="footer">
    <img class="footer__logo" ngSrc="/logo.png" width="320" height="71" priority>
    <nav class="footer__nav">
        <ul class="footer__list">
            <li class="footer__item">所有商品</li>
            <li class="footer__item">主題分類</li>
            <li class="footer__item">鮮花</li>
            <li class="footer__item">永生花</li>
            <li class="footer__item">品牌理念</li>
        </ul>
    </nav>
    <p class="footer__notice">
        本網站為緯育TibaMe第93期前端工程師專業技術養成班學員專題作品。
    </p>
</footer>