<section class="swiper--home">
    <h2 class="swiper__text swiper__text--top">From bud to blossom,<br>
        we bring nature's finest<br>
        to brighten your day.</h2>

    <h2 class="swiper__text swiper__text--bottom">Blossom into<br>
        happiness with us.</h2>

    <swiper-container class="swiper__container" autoplay-delay="2500" loop="true"
        autoplay-disable-on-interaction="false">
        <swiper-slide class="swiper__slide">
            <img class="swiper__img" ngSrc="/home/swiper/banner-01.jpg" width="650" height="722" alt="" priority>
        </swiper-slide>
        <swiper-slide class="swiper__slide">
            <img class="swiper__img" ngSrc="/home/swiper/banner-02.jpg" width="650" height="722" alt="" priority>
        </swiper-slide>
        <swiper-slide class="swiper__slide">
            <img class="swiper__img" ngSrc="/home/swiper/banner-03.jpg" width="650" height="722" alt="">
        </swiper-slide>
    </swiper-container>

</section>